@import '../../constants/styles/fonts.sass'
@import '../../constants/styles/colors.sass'
@import '../../constants/styles/media-data.sass'

.column
  text-align: center
  @media ($media-max-width: $media-small-screen)
    text-align: left
  .title
    font-size: 22px
    padding: 10px
    border: 1px solid $border-color
    @media ($media-max-width: $media-large-screen)
      min-height: 54px
    &:hover
      background-color: $main-background-color
    &.title-as-a-button
      z-index: 10000
      position: fixed
      overflow: visible
      min-width: 100%
      min-height: 0px
      background-color: $border-color
  .column-list
    &.mobile-column
      margin-top: 47px
      line-height: 19px
    .item
      padding-top: 2px
      padding-bottom: 2px
      padding-left: 5px
      padding-right: 5px
      border: 1px solid $border-color
      height: 19px
      @media ($media-max-width: $media-large-screen)
        height: 38px
      @media ($media-max-width: $media-medium-screen)
        height: 57px
      .link
        text-decoration: none
        color: $main-text-color
    .overflow
      @media ($media-max-width: $media-small-screen)
        --max-lines: 3
        position: relative
        max-height: 57px
        overflow: hidden
        padding-right: 5px
        &::before
          position: absolute
          content: ""
          inset-block-end: 0
          inset-inline-end: 0
        &::after
          content: "..."
          position: absolute
          inset-inline-end: 0
          width: 5px
          height: 5px
          background: white
